* { /* СБРОС небольших изменений */
    box-sizing: border-box; /*Ширина блока с полями*/
    margin: 0;/*внешний отступ*/
    padding: 0;/*внутренний отступ*/
}
html {
    font-size: 16px; /*16px=1rem в корень*/
}
body {
    font-family: 'Raleway', sans-serif; /*семейство шрифтов*/
    background: linear-gradient(66deg, #e38010, #1535bf); /*фон через линейный градиент*/
    color: #443650; /*цвет шрифта*/
}

.container {/*блок в котором заложен контент*/
    background-color: white; /*фон*/
    width: 100%; /*ширина блока*/
    max-width: 1200px; /*Ширина блока, для адаптации*/
    margin: 0 auto; /*центрирование*/
    padding: 1.3rem; /*поля*/
    border: 1px #7a797b solid; /*граница, рамка*/
}
code {/*выделение спец-шрифтом*/
    background-color: #40439917;
}
/*      font-family: 'Raleway', sans-serif; 300-900   */