header {
    margin-bottom: 1rem;
}
/*.container {
    background-color: white;
    width: 100%;
    max-width: 1200px; максимальное для гибкости
    margin: 0 auto; центрирование
    padding: 1.3rem;
    border: 1px #7a797b solid;
}*/
.header-menu {
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    color: white;
    background: linear-gradient(66deg, #e38010, #1535bf);
    font-weight: 900;
    padding: 0.7rem 0.9rem;
}
.header-nav-links {
    list-style-type: none;
    display: inherit;
}
.header-nav-links li {
    padding: 0.7rem 0.9rem;
    margin-right: 1.3rem;
    border-bottom: 2px solid #1e38b6;
}
.header-link {
    font-family: 'Raleway', sans-serif;
    color: #2b2329;
    font-weight: 600;
    text-decoration: none;
}
.header-content {
    display: flex;
    justify-content: space-around;
}
.header-title {
    padding-top: 0.7rem;
}
.header-content p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 50%;
    text-align: center;
}



