* { /* сброс */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px; /*16px=1rem в корень*/
}
body {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(66deg, #e38010, #1535bf);
    color: #443650; /*#3c1900*/ /*#2e022d*/ /*#022f44*/
}
header, main {
    margin-bottom: 15px;
}
.container {
    background-color: white;
    width: 100%;
    max-width: 1200px; /*максимальное для гибкости*/
    margin: 0 auto; /*центрирование*/
    padding: 20px 20px;
    border: 1px #7a797b solid;
}
.header-menu {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    color: white;
    background: linear-gradient(66deg, #e38010, #1535bf);
    font-weight: 700;
    padding: 10px 12px;
}
.header-menu ul {
    list-style-type: none;
    display: inherit;
}
.header-menu li {
    font-weight: 700;
    padding: 10px 12px;
    margin-right: 20px;
    border-bottom: 2px solid #1e38b6;
}
a {
    color: #2b2329;
    font-weight: 300;
    text-decoration: none;
}
.header-content {
    display: flex;
    justify-content: space-around;
}
.header-content h1 {
    padding-top: 10px;
}
.header-content p {
    font-weight: 300;
    width: 50%;
    text-align: center;
}
.item-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    border: 3px solid ;
    border-image: linear-gradient(66deg, #e38010, #1535bf);
    border-image-slice: 1;/*#8c8a8e*/
}
button {
    margin-top: 25px;
    cursor: pointer;
    border-width: 1px;
    padding: 5px 10px;
    background-color: #94bbeb;
    margin-bottom: 25px;
}