main {
    margin-bottom: 1rem;
}
/*.container {
    background-color: white;
    width: 100%;
    max-width: 1200px; максимальное для гибкости
    margin: 0 auto; центрирование
    padding: 1.3rem;
    border: 1px #7a797b solid;
}*/
.item-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    text-align: center;
    margin: 1rem;
    padding: 0.7rem;
    width: 100%;
    max-width: 12.5rem;
    border: 3px solid ;
    border-image: linear-gradient(66deg, #23ecb7, #e63acf);
    border-image-slice: 1;
}
.button-classic {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-top: 2.1rem;
    cursor: pointer;
    border-width: 3px;
    border-radius: 50%;
    padding: 1.75rem 0.7rem;
    background-color: #2ad733;
    margin-bottom: 2.05rem;
    color: white;
}
.btn-icon {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 2.1rem;
    cursor: pointer;
    border-width: 3px;
    border-radius: 50%;
    padding: 1.4rem 1.4rem;
    background-color: #2ad733;
    margin-bottom: 2.05rem;
}
.btn-shadow {
    box-shadow: 0 0 6px 4px #2ad733;
}
.btn-effect {
    box-shadow: 0 0 6px 4px #2ad733;
}
.btn-effect:hover {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #fded0f;
    box-shadow: 0 0 6px 4px #fded0f;
}
.btn-effect:active {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: aliceblue;
    background-color: #f22415;
    box-shadow: 0 0 6px 4px #f22415;
}
.input-classic {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 2.1rem;
    cursor: pointer;
    border-width: 3px;
    padding: 1.75rem 0.7rem;
    background-color: #2ad733;
    margin-bottom: 2.05rem;
    border-radius: 50%;
    color: white;
}

