main {
    margin-bottom: 1rem;
}
/*.container {
    background-color: white;
    width: 100%;
    max-width: 1200px; максимальное для гибкости
    margin: 0 auto; центрирование
    padding: 1.3rem;
    border: 1px #7a797b solid;
}*/
.item-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    text-align: center;
    margin: 1rem;
    padding: 0.7rem;
    width: 100%;
    max-width: 12.5rem;
    border: 3px solid ;
    border-image: linear-gradient(66deg, #e38010, #1535bf);
    border-image-slice: 1;
}
.button-classic {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-top: 2.1rem;
    cursor: pointer;
    border-width: 2px;
    padding: 0.3rem 0.7rem;
    background-color: #94bbeb;
    margin-bottom: 2.05rem;
}
.btn-hover:hover {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: aliceblue;
    padding: 1rem 1.2rem;
    background-color: #0771f3;
    border-width: 3px;
    margin-bottom: 1.6rem;
    margin-top: 1rem;
}
.input-classic {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-top: 2.1rem;
    cursor: pointer;
    border-width: 2px;
    padding: 0.3rem 0.7rem;
    background-color: #94bbeb;
    margin-bottom: 2.05rem;
}

