body {
    background-color:rgb(219, 219, 217) ;
    color: rgb(31, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

header {
    background-color: rgb(238, 107, 13);
    
}

h1 {
    font-size: 36px;
    color: rgb(75, 21, 14);
}