section {
    width: 315px;
    box-sizing: border-box;
    background: #FED100;
}

a   {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background: #FF352B;
    /*width: 304px;
    height: 60px;*/
    border: none;
    position: relative;
    padding: 15px 108px;
    /*bottom: 8px;*/
    /*font-weight: 600;*/
    font-size: 24px;
    /*line-height: 29px;*/
    color: #F2F2F2;
}

.underbutton {
    margin-left: 10px;
    background: #FED100;
    width: 304px;
    height: 60px;
    border: 2px solid #F2F2F2;
}

a:hover {
    background: #FED100;
    box-shadow: 3px 3px 3px 3px #FF352B;
    text-decoration: underline;
    color: #FF352B;
}

